<%= form_for @picture do |f| %>
	<p>
		<label>Artist</label><br>
		<%= f.text_field "artist" %>

	</p>
	<p>
		<label>Title</label><br>
		<%= @picture.errors[:title].join(",") %>
		<%= f.text_field "title" %>
	</p>
	<p>
		<lable>URL</label><br>
		<%= @picture.errors[:url].join(",") %>
		<%= f.text_field "url" %>
	</p>
	<p>
		<%= f.check_box "copyrighted" %>
		<%= f. label "copyrighted", "Photo is copyrighted." %>
	</p>
	<p>
		<%= f.submit "Save" %>
	</p>

<% end %>
